<script id="response-template" type="text/x-handlebars-template">
  <h2> Outcome: {{outcome}} - and made ${{net_profit}}</h2>
efefefe
    <p>
      Dollars Invested: <strong>${{dollars}}</strong>
    </p>

    <p>
      Buy Cost: <strong>${{buy_cost}}</strong>
    </p>

    <p>
      Sell Cost: <strong>${{sell_cost}}</strong>
    </p>

    <p>
      MtGox Percent: <strong>{{mtgox_percent}}</strong>
    </p>

    <p>
      Gross Received: <strong>${{gross_dollars}}</strong>
    </p>

    <p>
      MtGox Cut: <strong>${{mtgox_cut}}</strong>
    </p>

    <p>
      Net Profit: <strong>${{net_profit}}</strong>
    </p>
</script>

